* {
  font-family: 'Bree serif', serif;
  color: darkgray;
}

body {
  margin: 10px auto;
  background-color: darkgray;
}

header {
  width: 45%;
  background-color: #000000;
  color: #fca311;
  text-align: center;
  margin: inherit;
}

main {
  margin: inherit;
  max-width: 90%;
}

p {
  font-weight: bolder;
  text-align: center;
}

button {
  display: block;
  background-color: #fca311;
  color: #14213d;
  height: 75px;
  width: 150px;
  font-weight: bolder;
  box-shadow: 3px 3px 5px 5px;
}

ul {
  margin-right: 10%;
  column-count: 2;
}

#app-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 355px;
  width: 100%;
  background-color: #14213d;
}

#chart-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 90%;
  margin: 0px auto;
}

#intro {
  padding: 15px;
}

#results {
  background-color: white;
}

.borders {
  border-radius: 5px;
  border: 5px solid #14213d;
  background-color: teal;
}

.products {
  height: 100%;
  width: 31%;
}
