
body {
  margin: 0px auto 0px auto;
  background-color: blue;
}

header {
  margin: 0px auto 0px auto;
  text-align: center;
}

main {
  margin: 0px auto 0px auto;
  background-color: gray;
  max-width: 90%;
}

#app-field {
  height: 356px;
  width: 1075px;
  background-color: green;
  margin: inherit;
}

#chart-space {
  background-color: white;
}

.products {
  height: 350px;
  width: 350px;
}
